<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/header :: headerFragment}"></div>
<body>
<main>
    <nav th:replace="~{fragments/sidebar :: sidebarFragment}"></nav>
    <section class="content">
        <div class="left-content">
            <div class="activities">
                <h1>Q&A 관리</h1>
                <div>
                    <form id="actionForm" th:action="@{/admin/qna}" th:object="${condition}" method="get">
                        <!-- 두 번째 라인: 검색조건(셀렉트박스), 검색 내용(쿼리) -->
                        <div class="form-row">
                            <label for="searchCriteria">검색조건:</label>
                            <select id="searchCriteria" name="searchCriteria">
                                <option value="">전체</option>
                                <option th:value="nickname"
                                        th:text="닉네임"
                                        th:selected="${condition.searchCriteria() eq 'nickname'}" />
                                <option th:value="title"
                                        th:text="제목"
                                        th:selected="${condition.searchCriteria() eq 'title'}" />
                            </select>

                            <label for="searchQuery">검색 내용:</label>
                            <input type="text" id="searchQuery" name="searchQuery" th:value="*{searchQuery}" placeholder="Search Query" />

                            <button th:type="button" th:onclick="'submitFormWithAction(\'' + @{/admin/qna} + '\'' + ')'">검색</button>

                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <input type="hidden" name="page" id="page" value="0" />
                            <input type="hidden" name="size" id="size" value="5" />
                        </div>
                        <div th:class="form-row">
                            <label for="useYn">사용여부:</label>
                            <select id="useYn" name="useYn">
                                <option value="">전체</option>
                                <option th:each="useYn : ${T(b172.challenging.common.domain.UseYn).values()}"
                                        th:value="${useYn}" th:text="${useYn}"
                                        th:selected="${condition.useYn() eq useYn}"/>
                            </select>
                        </div>
                    </form>
                    <br>
                    <label th:text="'총 ' + ${qnAs.totalElements()} + ' 건'"/>
                    <div class="right-align">
                        <button th:onclick="'window.location.href=\'' + @{/admin/qna/create} + '\''">Q&A 생성</button>
                    </div>
                    <table>
                        <caption>Q&A 관리</caption>
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>등록자</th>
                            <th>등록일</th>
                            <th>사용여부</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${!qnAs.list().isEmpty()}" th:each="qna : ${qnAs.list()}">
                            <td><a th:href="@{/admin/qna/{id}(id=${qna.id})}" th:text="${qna.id}"/></td>
                            <td th:text="${qna.title}"/>
                            <td th:text="${qna.registerId.nickname}"/>
                            <td th:text="${#temporals.format((qna.updatedAt == null ? qna.createdAt : qna.updatedAt),'yyyy-MM-dd HH:mm')}"/>
                            <td th:text="${qna.useYn}"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="left-bottom">
                <div class="pagination" th:if="${qnAs.totalPages > 1}">
                    <div th:if="${qnAs.hasPrevious()}">
                        <button th:type="button" th:onclick="'movePage(\''+ ${qnAs.number - 1} + '\'' + ')'" class="prev">&#10094; Previous</button>
                    </div>
                    <span th:if="${qnAs.number > 2 && qnAs.totalPages > 5}">...</span>
                    <div th:each="currPage : ${#numbers.sequence(qnAs.number > 2 ? (qnAs.totalPages - qnAs.number > 2 ? qnAs.number - 2 : (qnAs.totalPages > 5 ? qnAs.totalPages - 5 : 0)) : 0, qnAs.number > 2 ? (qnAs.totalPages - qnAs.number > 2 ? qnAs.number + 2 : qnAs.totalPages - 1) : (qnAs.totalPages > 5 ? 4 : qnAs.totalPages - 1))}">
                        <button th:type="button" th:onclick="'movePage(\''+ ${currPage} +'\'' + ')'" th:class="${qnAs.number == currPage ? 'active' : ''}" th:text="${currPage + 1}"/>
                    </div>
                    <span th:if="${qnAs.number < qnAs.totalPages - 3 && qnAs.totalPages > 5}">...</span>
                    <div th:if="${qnAs.hasNext()}">
                        <button th:type="button" th:onclick="'movePage(\''+ ${qnAs.number + 1} +'\'' + ')'" class="next">Next &#10095;</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>
